@import "styles/abstracts/mixins";

.post {
  padding: 70px 0;

  &__info {
    display: flex;
    align-items: center;
  }

  &__infoWrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;

    @include break(768) {
      flex-direction: column;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;

    @include break(768) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__actionBtn {
    margin-right: 15px;
    font-size: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__actionBtnDelete {
    border-color: #ff0000;
    color: #ff0000;
    outline-color: #ff0000;
    margin-left: 20px;
  }

  &__infoItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__img {
    margin-top: 40px;
    width: 100%;

    & > img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__content {
    p {
      font-weight: 400;
      font-size: 21px;
      line-height: 32px;
      margin-top: 40px;
    }
  }


  &__tags {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.author {
  &__img {
    width: 42px;
    height: 42px;

    & > img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: 500;
    margin: 0 15px;
    font-size: 16px;
    line-height: 16px;
  }

  &__info {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
}
