.sign {
  padding-top: 67px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 48px;
  margin-bottom: 37px;
}

.input {
  width: 100%;
  margin-bottom: 12px;
}

.btn {
  margin-top: 12px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.lineRight {
  position: absolute;
  right: 0;
  width: 397px;
  height: 404px;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.lineLeft {
  position: absolute;
  left: 0;
  top: 320px;
  width: 449px;
  height: 404px;

  & > img {
    width: 100%;
    height: 100%;
  }
}



