.btn {
  border: none;
  background: transparent;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 30px;
  line-height: 21px;

  &__content {
    color: inherit;
    text-align: left;
    font-weight: inherit;
    font-size: inherit;
  }

  &--primary {
    font-weight: 400;
    font-size: $fz-16;
    color: $white;
    background: $black;
    border-radius: 4px;
  }

  &--empty {
    font-weight: 400;
    font-size: $fz-16;
    color: $black;
    background: transparent;
  }

  &--outline {
    border-radius: 4px;
    border: 1px solid black;
  }
}
